:root {
  --primary-color: #d9dbe4;
  --secondary-color: #ffffff;
  --blue-color: #334ac3;
  --light-gray: #8d8d8d;
}

.base-card {
  background: var(--secondary-color);
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
